<template name="popupWindows_coinprice">
    <div class="row popup-windows coinprice">
        <div class="col col-4 ">
            <img class="left-overlay {{mode}}" src="{{appIconPath}}" style="position: relative;top: -40px;left: -132%;width: 255%;">
        </div>
        <div class="col col-8 ">
          <script type="text/javascript" src="https://files.coinmarketcap.com/static/widget/currency.js"></script>
          <div class="coinmarketcap-currency-widget" data-currency="ellaism" data-base="USD"  data-secondary="BTC"></div>
        </div>
    </div>
</template>
