<template name="popupWindows_tokens">
    <div class="row popup-windows tokens">
        <div class="col col-4 ">
            <img class="left-overlay {{mode}}" src="{{appIconPath}}" style="position: relative;top: -40px;left: -132%;width: 255%;">
        </div>
        <div class="col col-8 ">
            <br>
            <small>Official tokens on the ella network.</small><br>
            <small>EFT . 0xc9d07e5e7ade52de25a51982b4b36a0604223fd5</small><br>
            <small>TRI . 0x5f516f4556589379ebb9ab66460c1b5b577feb5a</small><br>
        </div>
    </div>
</template>
